/*importando uma fonte pelo URL*/
@import url('https://fonts.googleapis.com/css?family=Lato');

/*@import url('../fonts/');*/

/*font-face{
	font-family: Lato;
	src: local('../fonts/nome-da-fonte.ttf');

}*/

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:3.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:5rem;} /*1rem = 16px*/    
}
 
/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
  h1 {font-size:3.5rem;} 
}
/*media query(Para redimensionar o tamanho da fonte do cabecalho*/

@media only screen and (min-width: 300px) {
	h1{
		font-size: 41px;
	}
} 

@media only screen and (min-width: 600px) {
	h1{
		font-size: 50px;
	}
} 
@media only screen and (min-width: 800px) {
	h1{
		font-size: 60px;
	}
} 

@media only screen and (min-width: 1000px) {
	h1{
		font-size: 80px;
	}
} 
/* fim media query*/
div.alert{
	position: fixed;
	width: 50%;
	margin-right: auto;
	margin-left: auto; 
	z-index: 9999;
	/*camadas*/

}

#alertaC{
	display: none;

}
div#bannerHome{
	text-align: center;
	color: white;
	padding-top: 140px;
}

hr#principal-hr{	
	border-color: #15a4fa;
}

h1#principal-text{
	color: white;
	font-weight: bold;
	font-size: 500%;
	margin-bottom: 0%;
}

div#bannerHome div h1{
	font-family: "Lato" ,sans-serif;
	font-weight: bold;
	/*border-bottom: 1px solid;
	border-color: #15a4fa; */
}

 .btn-outline-primary{
 	border-color: #15a4fa;
 	color: #fff;
 }

 #linha2{
 	background-color: #f6f9f9; 
 	padding: 6%;
 }


 /*
 .btn-outline-primary:hover{
 	border-color: #15a4fa;
 	color: #fff;
 	background-color: #ff3;
 }*/
#iconesInfo{
	padding: 5%;
}
#iconesInfo .row .col-md-4{
	padding: 4%;
}
.text-bold{
	font-weight: bold;
}


div#iconesInfo div.col img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div#portifolio img.img-thumbnail {
	width: 100%;
	height: 100%;
	border-image-width: 200px;
	margin: 1%;
}

div#portifolio {
	background-color: #f6f9f9;
	padding-top: 2%;
	padding: 3%;
}

ul#listaPortifolio{
	list-style-type: none;

}
ul#listaPortifolio li{
	display: inline;
	margin: 1%;
}
ul#listaPortifolio li img{
	width: 100%;
	height: 100%;
}

.portfolioLink:hover img{
	opacity: 0.7;
	 transition: .5s ease;
}

div#formDiv{
	background-image: url('../img/form-bg-blue.jpeg');
	/*background-size: 100%;*/
	background-repeat: no-repeat;
	margin-bottom: -3%;
}

div#formDivElements{
	padding: 5%;
	color: white;
	text-align: center;
}

#formDivElements p{
	margin-bottom: 1%;
	padding-bottom: 10%;
	color: grey;
}
#formHide{
	display: none;
}
#formDivElements input, textarea{
	color: #fff;
}

 input.transparent-input, textarea.transparent-input{
	background-color:transparent !important;
	border-color: #15a4fa;

}

/* Generated by http://css.spritegen.com CSS Sprite Generator */ 
.socialfacebook, .socialgplus, .socialtwitter-hover, .socialin, .socialplus
{ display: inline-block; background: url('../img/redes.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.socialfacebook { background-position: -10px -0px; width: 43px; height: 43px; }
.socialgplus { background-position: -10px -53px; width: 43px; height: 43px; }
.socialtwitter-hover { background-position: -10px -106px; width: 43px; height: 43px; }
.socialin { background-position: -10px -159px; width: 40px; height: 40px; }
.socialplus { background-position: -10px -209px; width: 40px; height: 40px; }